<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<title>Proportion Test</title>
    <script type='text/javascript' src='/javascripts/prototype.js'></script>
    <script type='text/javascript' src='/javascripts/s2.js'></script>
    <script type='text/javascript' src='/javascripts/jsunity-0.6.js'></script>
    <script type='text/javascript' src='/javascripts/proportion.js'></script>
    <script type='text/javascript' src='/javascripts/test.js'></script>
    <link type="text/css" media="screen" rel="stylesheet" href="/stylesheets/humanity/jquery-ui-1.8.2.custom.css" />
    <link type="text/css" media="screen" rel="stylesheet" href="/stylesheets/proportion.css" />
    <style>
      td.col-1 {
      min-width: 40px;
      }
    </style>
</head>
<body>

  <div id="slider">
  </div>

  <br/>
  <span id="add">Add Value</span>
  <span id="rm">Remove Value</span>

  <ul id="test-logs">
  </ul>


  <script type='text/javascript'>
    Test.init();
  </script>
</body>


</html>
